{% extends 'base.html' %}
{% load static %}

{% block title %}PassForge - Secure Password Generator{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'homepage' %}" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </a>
    <div class="tab-container">
        <div class="tabs">
            <div class="tab active" data-tab="generator">
                <h1>Password Generator</h1>
            </div>
        </div>

        <div class="tab-content active" id="generator">
            <div class="password-display-container">
                <input class="password-display" type="text" id="generated-password" readonly>
                <button class="btn btn-outline tooltip" id="copybtn" onclick="copyPassword()">
                    <span class="tooltiptext" id="copyTooltip"></span>
                    <svg class="btn-size" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                    </svg>
                </button>
            </div>

            <div class="range-group">
                <label for="password-length">Password Length</label>
                <div class="range-info">
                    <span>8</span>
                    <span id="length-value">16</span>
                    <span>32</span>
                </div>
                <input type="range" min="8" max="32" value="16" class="range-slider" id="password-length">
            </div>

            <div class="toggle-group">
                <label class="toggle-option">
                    <input type="checkbox" id="uppercase" checked>
                    <span>Uppercase</span>
                </label>
                <label class="toggle-option">
                    <input type="checkbox" id="lowercase" checked>
                    <span>Lowercase</span>
                </label>
                <label class="toggle-option">
                    <input type="checkbox" id="numbers" checked>
                    <span>Numbers</span>
                </label>
                <label class="toggle-option">
                    <input type="checkbox" id="symbols" checked>
                    <span>Symbols</span>
                </label>
                <label class="toggle-option">
                    <input type="checkbox" id="exclude-ambiguous" checked>
                    <span>Exclude Ambiguous</span>
                </label>
                <label class="toggle-option">
                    <input type="checkbox" id="exclude-similar" checked>
                    <span>Exclude Similar Characters</span>
                </label>  
            </div>

            <button class="btn btn-primary btn-block" id="generate-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                </svg>
                Generate Password
            </button>

            <div class="result-section" id="generator-result">
                <h3 class="result-title">Generated Password</h3>
                <div class="password-display" id="result-password-text"></div>
                <div>
                    <div class="feature-item">
                        <div class="feature-icon">✓</div>
                        <span>Character set: <span id="result-charset"></span></span>
                    </div>
                    <div class="feature-item">
                        <div class="feature-icon">✓</div>
                        <span>Password length: <span id="result-length"></span> characters</span>
                    </div>
                    <div class="feature-item">
                        <div class="feature-icon">✓</div>
                        <span>Estimated strength: <span id="result-strength"></span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/password_generator.js' %}"></script>
{% endblock %}